
@{
    ViewData["Title"] = "About";
}

<h1>
    First Time Dads
</h1>

<h2>
    For all of the soon to be first time dads that need a little extra help and encouragement.
</h2>

<p>
    Are you going to be a dad for the first time? Are you terrified? Don't know the first thing to do or how to change a diaper
    or how to feed the baby? Well we're here for you!
</p>

<h3>
    Contact us for web support
</h3>
<p>
    Email us at <a href="mailto:support@firsttimedad.com">support@firsttimedad.com</a>
</p>
<p>
    Phone Number <a href="tel:5555555555">(555)555-5555</a>
</p>
<p>
    Address <a href="http://maps.google.com/maps?q=4500+Steilacoom+Blvd+SW,+Lakewood,+WA+98499">4500 Steilacoom Blvd SW, Lakewood, WA 98499</a>
</p>